---
- name: resolve platform specific vars
  include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml'
        - '{{ ansible_distribution }}.yml'
        - '{{ ansible_os_family }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: check for install
  become: yes
  stat:
    path: '{{ consul_replicate_install_dir }}'
  changed_when: False
  register: consul_replicate_binary
- when: not consul_replicate_binary.stat.exists
  block:
    - name: download archive
      become: yes
      become_user: root
      get_url:
        url: '{{ consul_replicate_url }}'
        dest: /tmp/{{ consul_replicate_zip }}
        checksum: '{{ consul_replicate_checksum }}'
        mode: 0644
    - name: mkdir
      become: yes
      become_user: root
      file:
        path: '{{ consul_replicate_install_dir }}'
        mode: 0755
        state: directory
    - name: unarchive
      become: yes
      become_user: root
      unarchive:
        remote_src: yes
        src: /tmp/{{ consul_replicate_zip }}
        dest: '{{ consul_replicate_install_dir }}'
        creates: '{{ consul_replicate_exe }}'
  always:
    - name: cleanup
      become: yes
      become_user: root
      file:
        path: /tmp/{{ consul_replicate_zip }}
        state: absent
- name: link
  become: yes
  become_user: root
  file:
    src: '{{ consul_replicate_exe }}'
    dest: '{{ consul_replicate_link }}'
    state: link

